@model IEnumerable<Homework6.Models.ProductCategory>
@{
    ViewBag.Title = "Index";
}

<div class="row col-md-12">
    
</div>

<h2>Product Categories</h2>

<div class="row">
    <div class="col-md-6">
        @foreach (var item in Model.ToList())
        //iterate over the product categories and create links
        {
            ViewBag.CategoryName = item.Name;

            <h4>@Html.ActionLink(item.Name, "Index/" + item.ProductCategoryID)</h4>

            //<button type="button" onclick="@RedirectResult("Index/" + item.Name)">@ViewBag.CategoryName</button>
        }
    </div>
    <div class="col-md-6">
        <h4>Know the Product Id? <br />Enter it here:</h4>
        
            <form action="/Products/Product/" >
                <input type="number" name="id" size="12" />
                <button type="submit" value="Submit">Find it!</button>
                
            </form>
        
    </div>
</div>
<br />
<div class="row col-md-12">
    @if (ViewBag.catID != null)
    // this will be null on initial load
    {
        // displays Subcategory name
        <h2>@Model.Where(p => p.ProductCategoryID == ViewBag.catID).FirstOrDefault().Name</h2>

        //iterate over subcategories if the category match the ID
        foreach (var item in Model.Where(p => p.ProductCategoryID == ViewBag.catID).Select(p => p.ProductSubcategories).ToList().FirstOrDefault())
        {
            <h4>@Html.ActionLink(item.Name, "Products/" + item.ProductSubcategoryID)</h4>
        }
    }
</div>