@model Homework6.Models.Product 
@{//pass in single object not IEnumerable
    ViewBag.Title = "Product";
}

<h2>@Html.DisplayFor(p => p.Name)</h2>

<h4>Class: @Html.DisplayFor(p => p.Class)</h4>
<h4>Color: @Html.DisplayFor(p => p.Color)</h4>
<h4>List Price: $@Html.DisplayFor(p => p.ListPrice)</h4>
<h4>Product Line: @Html.DisplayFor(p => p.ProductLine)</h4>
<h4>Product Number: @Html.DisplayFor(p => p.ProductNumber)</h4>
<h4>Size: @Html.DisplayFor(p => p.Size) @Html.DisplayFor(p => p.SizeUnitMeasureCode)</h4>
<h4></h4>
<h4>Style: @Html.DisplayFor(p => p.Style)</h4>
<h4>Weight: @Html.DisplayFor(p => p.Weight) @Html.DisplayFor(p => p.WeightUnitMeasureCode)</h4>
<h4></h4>

